<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-4 d-flex rounded">
      <!-- --------------------  Members Area start  ---------------- -->
      <div class="custom-col-2-5 m-3 border rounded" style="width: 20%">
        <div class="col-12 rounded bg-info">
          <h4 class="text-white font-weight-bold mt-0 m-4">
            Benefits of being a member
          </h4>
        </div>
        <div class="col-12">
          <ul class="tick-list">
            <li>
              Find something to watch on your subscribed streaming services
            </li>
            <li>Log the movies and TV shows you have watched</li>
            <li>
              Keep track of your favourite movies and TV shows and get
              recommendations from them
            </li>
            <li>Build and maintain a personal watchlist</li>
            <li>Build custom mixed lists (movies and TV)</li>
            <li>Take part in movie and TV discussions</li>
            <li>Contribute to, and improve the information in our database</li>
          </ul>
        </div>
      </div>

      <!-- --------------------  Members Area end  ---------------- -->

      <div class="col-9 m-3">
        <div class="col-12">
          <h3 class="font-weight-bold">Sign up for an account</h3>
          <p>
            Signing up for an account is free and easy. Fill out the form below
            to get started. JavaScript is required to to continue.
          </p>
        </div>
        <div class="col-12">
          <div class="mb-3">

            <label for="exampleFormControlInput1" class="form-label"
            >Username</label
          >
          <input
            type="text"
            class="form-control"
            id=""
            placeholder=""
          />
    
            <label for="inputPassword5" class="form-label mt-2">Password</label>
            <input
              type="password"
              id=""
              class="form-control"
              aria-labelledby="passwordHelpBlock"
            />
            <label for="inputPassword5" class="form-label mt-2">Confirm Password</label>
            <input
              type="password"
              id="inputPassword5"
              class="form-control"
              aria-labelledby="passwordHelpBlock"
            />

            <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />

          <p class="mt-5">By clicking the "Sign up" button below, I certify that I have read and agree to the TMDB terms of use and privacy policy.</p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="btn btn-primary me-md-2 bg-color-change" type="button">Sign Up</button>
            <button type="button" class="btn text-blue">Cancel</button>
          </div>
        </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
