
<div class="fotter-div">
    <div class="row">
      <div class="col-12 d-flex">
        <div class="col-2"></div>
        <div class="col-2 mt-5">
          <div class="col-6 d-flex for-img-style">
            <div class="col-12"></div>
            <div class="">
              <img class="h-60 w-60" src="../assets/footerimg.svg">
            </div>
          </div>
          <div class="col-12 mt-2">
            <button
              type="button"
              class="btn mt-2 btn-lg font-weight-bold bg-white col-12 blue-text"
            >
              Join the Community
            </button>
          </div>
        </div>
      
        <div
          class="col-6 align-items-center d-flex justify-content-center mt-5 dropdown-of-footer"
        >
          <div class="col-3 con-for-footer mt-5">
            <h6 class="text-white font-weight-bold">THE BASICS</h6>
            <ul>
              <li><a href="#">About TMDB</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Support Forms</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">System Status</a></li>
            </ul>
          </div>


          <div class="col-3 con-for-footer mt-5">
            <h6 class="text-white font-weight-bold">GET INVOLVED</h6>
            <ul>
              <li><a href="#">Contribution Bible</a></li>
              <li><a href="#">Add New Movie</a></li>
              <li><a href="#">Add New TV Show</a></li>
            </ul>
          </div>


          <div class="col-3 con-for-footer mt-5">
            <h6 class="text-white font-weight-bold">COMMUNITY</h6>
            <ul>
              <li><a href="#">Guidelines</a></li>
              <li><a href="#">Discussions</a></li>
              <li><a href="#">Leaderboard</a></li>
              <li><a href="#">Twitter</a></li>
            </ul>
          </div>



          <div class="col-3 con-for-footer mt-5">
            <h6 class="text-white font-weight-bold">LEGAL</h6>
            <ul>
              <li><a href="#">Term of Use</a></li>
              <li><a href="#">API Term of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>
  </div>