.container-for-all-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.navdiv{
    background-color: lightblue;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 64px;
}
.navbar{
    background-color: rgba(3,37,65,1);
    align-items: center;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 10;
    transition: top .2s linear;
    width: 100%;
}
.navbar img{
    margin-left: 20px;
    height: 160px;
    width: 160px;
}
.select { 
    color: white; 
    border: none;
    padding: 5px; 
}
button{
    background: none;
    border: none;
}
button:hover{
    background:none ;
}
.un-list {
    display: flex;
    margin-top: 15px;
}
.un-list ul {
    display: flex;
    list-style: none;
}
.un-list li {
    margin-top: 15px;
}
.un-list li a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none; 
    padding: 15px 10px;
    border:none; 
}
.un-list li a:hover {
    background:none;
}

