<!-- -------------- header start  -------------- -->

<!-- --------------- navbar start ----------------- -->
<div class="container-for-all-div">
  <app-header></app-header>
 
    
  <!-- --------------- navbar end ----------------- -->
  <!-- -------------- header end  -------------- -->

  <!-- --------------- body start ----------------- -->
  <div class="bodydiv">
    

    <!-- ----------------- Trending Start  ------------------------- -->
    

    <!-- ----------------- Trending end  ------------------------- -->

    <!-- ----------------- Latest Trailer start ------------------------- -->

  

    <!-- ----------------- Latest Trailer end ------------------------- -->

    <!-- ----------------- What's Popular start ------------------------- -->

   

    <!-- ----------------- What's Popular end ------------------------- -->

    <!-- ----------------- Free to Watch start ------------------------- -->

   

    <!-- ----------------- Free to Watch end ------------------------- -->

    <!-- ----------------- Join Today Start ------------------------- -->

   

    <!-- ----------------- Join Today end ------------------------- -->

    <!-- ----------------- Leader Borad start ------------------------- -->

   

    <!-- --------------- body end ----------------- -->

    <!-- ----------------- Foter Start  ------------------- -->
 <router-outlet></router-outlet>

    <app-footer></app-footer>

    
    <!-- ----------------- Foter end  ------------------- -->

   
  </div>
</div>
