<div class="div-for-join-data">
    <div class="row ml-3">
      <div class="h-50 mt-5 text-white font-weight-bold head-of-join">
        <h2>Join Today</h2>
      </div>
      <div class="col-11 join-div">
        <div class="col-6">
          <p class="text-white">
            Get access to maintain your own custom personal lists, track what
            you've seen and search and filter for what to watch next—regardless if
            it's in theatres, on TV or available on popular streaming services
            like Netflix, Amazon Prime Video, Zee5, Sun Nxt, and Rooster Teeth.
          </p>
          <button
            type="button"
            class="btn btn-outline-primary text-white font-weight-bold bg-primary"
          >
            Sign Up
          </button>
        </div>
        <div class="col-4">
          <ul class="unorder-list-ofjoin">
            <li class="text-white">Enjoy TMDB ad free</li>
            <li class="text-white">Maintain a personal watchlist</li>
            <li class="text-white">
              Filter by your subscribed streaming services and find something to
              watch
            </li>
            <li class="text-white">Log the movies and TV shows you've seen</li>
            <li class="text-white">Build custom lists</li>
            <li class="text-white">Contribute to and improve our database</li>
          </ul>
        </div>
      </div>
    </div>
  </div>