<div class="size-giving">
    <div class="homepage-image">
      <div class="upper-image-text">
        <h2 style="color: white; font-weight: bold; font-size: 30px">
          Well Come.
        </h2>
        <p style="color: white; font-size: 30px">
          Millions of movies, TV shows and people to discover. Explore now.
        </p>
      </div>
      <div class="lower-image-text">
        <div class="searbox">
          <input
            class="textinput"
            type="search"
            placeholder="Search for a movie,tv,show,person....."
            aria-label="Search"
          />
          <button class="searbox-button" type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>